@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 45 100% 50%;

    --card: 0 0% 0%;
    --card-foreground: 45 100% 50%;
 
    --popover: 0 0% 0%;
    --popover-foreground: 45 100% 50%;
 
    --primary: 45 100% 50%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 45 100% 25%;
    --secondary-foreground: 0 0% 0%;
 
    --muted: 45 100% 10%;
    --muted-foreground: 45 100% 40%;
 
    --accent: 45 100% 25%;
    --accent-foreground: 0 0% 0%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 45 100% 50%;

    --border: 45 100% 25%;
    --input: 45 100% 25%;
    --ring: 45 100% 50%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}